<% if (succes != "") { %>
<div
  class=" flash_message alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <h3>
    <%= succes %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </h3>
</div>
<% } %> <% if (error.length) { %>
<div
  class="flash_message alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <h3>
    <%= error %><button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </h3>
</div>
<% } %>
