body {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(109, 109, 109);
}

.main {
    padding: 1rem 1rem 2rem;
}

.header {
    height: 30vh;
    background-image: url("/x.png");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.text-success {
    color: rgb(6, 43, 255) !important;
}

p {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .header {
        height: 35vh;
        background-size: 18%;
        margin-bottom: 20px;
    }
}

.color_bar {
    transition: 1s linear;
}

.student_info {
    background-color: rgb(182, 184, 183);
}

ol {
    padding-left: 2.5rem;
}

li {
    padding: 1%;
    font-size: 130%;
}

form {
    display: inline;
}

.drop_down_item {
    display: none;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    margin-top: 1rem;
}

.drop_down_show {
    display: block;
}

.flash_message {
    border: 0;
    color: whitesmoke;
    background-color: rgb(62, 62, 62);
}

/****************NEW USER INTERFACE*****************/

.new_styling {
    background-color: rgb(182, 184, 183);
    padding: 0 10px;
}

.button_newStyle {
    border: none;
    padding: 10px 10px 5px;
    background-color: rgb(89, 101, 114);
    color: aliceblue;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    line-height: 20px;
    font-size: 1.3rem;
}
._down{
    border-radius: 10px 10px 0px 0px ;
}

hr {
    background-color: black;
}

.info_box {
    padding: 10px;
    padding-top: 0;
}

p {
    margin: 0;
    text-decoration: underline;
    text-align: center;
}

.heading_info {
    font-weight: 200;
}

.value {
    font-weight: 400;
    font-size: 200%;
}

/**************** EDIT *****************/

.edit_box{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(129, 129, 129);
    padding: 10px;
    margin-bottom: 1rem;
}