body {
    font-family: cursive;
    background-color: rgb(43, 36, 36);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

a:hover {
    color: rgb(229, 225, 224) !important;
}

.btn:hover {
    color: rgb(229, 225, 224) !important;
}

.flash_message {
    border: 0;
    background-color: rgb(110, 76, 76);
    height: 3rem;
    align-self: center;
    margin: 0;
    padding: 10px 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 0;

        button {
            padding: 0 !important;
            align-self: center !important;
            position: relative !important;
            top: -10px !important;
            right: 2px !important;
        }
    }
}

.main {
    width: 100vw;
}

.text_color {
    color: rgb(229, 225, 224) !important;
}


.text-success {
    color: rgb(6, 43, 255) !important;
}

p {
    margin: 0;
}

.color_bar {
    background-color: rgb(46, 29, 29);
    color: rgb(191, 186, 182);
    transition: 1s linear;
}

.student_info {
    background-color: rgb(110, 76, 76);
    margin: auto;
    width: 95vw;
}

ol {
    padding-left: 2.5rem;
}

li {
    padding: 1%;
    font-size: 130%;
}

form {
    display: inline;
}

.drop_down_item {
    display: none;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    background-color: rgb(139, 78, 102);
    margin-top: 1rem;
    padding: 6px 0;
}

.drop_down_show {
    display: block;
}

/****************NEW USER INTERFACE*****************/

.new_styling {
    padding: 0 10px;
}

.button_newStyle {
    border: none;
    padding: 10px 10px 5px;
    background-color: rgb(89, 101, 114);
    color: aliceblue;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    line-height: 20px;
    font-size: 1.3rem;
}

._down {
    border-radius: 10px 10px 0px 0px;
}

hr {
    background-color: black;
}

/* .info_box {
    padding: 10px;
    padding-top: 0;
} */

p {
    margin: 0;
    text-decoration: underline;
    text-align: center;
}

.heading_info {
    font-weight: 200;
}

.value {
    font-weight: 400;
    font-size: 200%;
}

/**************** EDIT *****************/

.edit_box {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(139, 78, 102);
    padding: 10px;
    margin-bottom: 1rem;
}