.checkbox-wrapper-44 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.button_style_v3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: .5px solid white;
    border-radius: 6px;
    padding: 2px 12px;
    background-color: rgb(139, 78, 102);
    color: rgb(191, 186, 182);
    margin: 0 10px;
}

@media (min-width: 1200px) {
    .subject_name_div {
        width: 10% !important;

    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .subject_name_div {
        width: 13% !important;

    }
}

@media (min-width: 850px) and (max-width: 999px) {
    .subject_name_div {
        width: 17% !important;

    }
}

@media (min-width: 600px) and (max-width: 849px) {
    .subject_name_div {
        width: 14% !important;
    }

    .button_div_ {
        transform: scale(.8);
    }
}

@media (max-width: 600px) {
    .button_div_ {
        transform: scale(.7);
        position: relative;
        left: -45px;
    }
}


.button_style_v3 div {
    margin-left: 5px;
}

.checkbox-wrapper-44 *,
.checkbox-wrapper-44 *::before,
.checkbox-wrapper-44 *::after {
    box-sizing: border-box;
}

.checkbox-wrapper-44 .toggleButton {
    cursor: pointer;
    display: block;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform 0.14s ease;
}

.checkbox-wrapper-44 .toggleButton:active {
    transform: rotateX(30deg);
}

.checkbox-wrapper-44 .toggleButton input+div {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
    width: 22px;
    height: 22px;
}

.checkbox-wrapper-44 .toggleButton input+div svg {
    fill: none;
    stroke-width: 1.8;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    left: -1.5px;
    top: -1.5px;
    right: -1.5px;
    bottom: -1.5px;
    z-index: 1;
    stroke-dashoffset: 62.3;
    stroke-dasharray: 0 81.3 66.5 14.8;
    transition: all 0.4s ease 0s;
}

.checkbox-wrapper-44 .toggleButton input+div:before,
.checkbox-wrapper-44 .toggleButton input+div:after {
    content: "";
    width: 1.5px;
    height: 8px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2.5px;
}

.checkbox-wrapper-44 .toggleButton input+div:before {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    -webkit-animation: bounceInBefore-44 0.3s linear forwards 0.3s;
    animation: bounceInBefore-44 0.3s linear forwards 0.3s;
}

.checkbox-wrapper-44 .toggleButton input+div:after {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    -webkit-animation: bounceInAfter-44 0.3s linear forwards 0.3s;
    animation: bounceInAfter-44 0.3s linear forwards 0.3s;
}

.checkbox-wrapper-44 .toggleButton input:checked+div svg {
    stroke-dashoffset: 81.3;
    stroke-dasharray: 0 81.3 14 67.3;
    transition: all 0.4s ease 0.2s;
}

.checkbox-wrapper-44 .toggleButton input:checked+div:before {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    -webkit-animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
    animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
}

.checkbox-wrapper-44 .toggleButton input:checked+div:after {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    -webkit-animation: bounceInAfterDont-44 0.3s linear forwards 0s;
    animation: bounceInAfterDont-44 0.3s linear forwards 0s;
}

@-webkit-keyframes bounceInBefore-44 {
    0% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bounceInBefore-44 {
    0% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
}

@-webkit-keyframes bounceInAfter-44 {
    0% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes bounceInAfter-44 {
    0% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
}

@-webkit-keyframes bounceInBeforeDont-44 {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bounceInBeforeDont-44 {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
}

@-webkit-keyframes bounceInAfterDont-44 {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes bounceInAfterDont-44 {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
}