<%layout("layouts/boilerplate.ejs");%>
<body>
  <div class="row">
    <div class="student_info col-10 offset-1 border border-black border-2 rounded-5 p-4">
      <h1 class="text-center text-decoration-underline">Student Details</h1>
      <hr>
      <form
        method="post"
        action="/addStudent"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            name="name"
            type="text"
            class="form-control"
            id="name"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Enter Your Name</div>
        </div>

        <div class="mb-3">
          <label for="subject1" class="form-label">Subject-1</label>
          <input
            id="subject1"
            class="form-control"
            type="text"
            name="subject1"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Enter Subject Name</div>
        </div>
        <div id="add_subject_above" class="btn btn-secondary">+1 Subject</div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</body>
