<%layout("layouts/boilerplate.ejs");%>
<style>
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
<body>
  <div class="p-4 border border-black border-3 rounded-5">
    <h1>Students</h1>
    <hr />
    <div class="z_index container">
      <div class="row gy-3 justify-content-evenly align-items-center">
        <% for( let student of Listings ) { %>
        <div
          class="card pt-3 pb-3 col-1 col-sm-2 col-md-3 col-xl-3 border border-black rounded-3"
          style="width: 13rem"
        >
          <a href="/<%= student._id %>"
            ><h5 class="card-title text-center m-0"><%= student.name %></h5></a
          >
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
